body{
    /* background: linear-gradient(0deg, #8ec641, black); */
    background: linear-gradient(100deg, #0b6992, #0b6992, #e7195e, #e7195e);
    /* background: linear-gradient(200deg, #e7195e, #e7195e, #0b6992, #0b6992); */
    height: 100vh;
    text-align: center;
    color: white;
}

h1{
    font-size: 3.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}

input{
    padding: 10px 30% 10px 15px;
    border: 6px double black;
}

textarea{
    padding: 10px 220px 10px 15px;
    border: 6px double black;
}

a{
    text-decoration: none;
    border-bottom: 2px solid black;
    color:seashell;
    font-size: 1.3rem;
}

a:hover {
    background-color: transparent;
    font-size: 1.5rem;
}

.registerBtn{
    border: 2px dotted black;
    padding: 10px 245px;
    background-color: gainsboro;
    cursor: pointer;
}

.registerBtn:hover {
    background-color: black;
    color: white;
    border: 2px dotted white;
    font-size: 1rem;
}

.loginBtn{
    border: 2px dotted black;
    padding: 10px 252px;
    background-color: gainsboro;
    cursor: pointer;
}

.loginBtn:hover {
    background-color: black;
    color: white;
    border: 2px dotted white;
    font-size: 1rem;
}

.googleButton{
    background: linear-gradient(200deg, #0b6992, #0b6992, #e7195e, #e7195e);   
    border: 1px solid black;
    color: white;
    border-radius: 50px;
    padding: 10px 180px;
    font-size: 1.5rem;
    cursor: pointer;
}

.googleButton:hover{
    font-size: 1.3rem;
}

.addTodo{
    border: 2px dotted black;
    padding: 10px 50px;
    cursor: pointer;
}

.addTodo:hover, .addTodo:focus, .addTodo:focus-visible{
    background-color: transparent;
    border: 2px dotted white;
    color: white;
}

span{
    color: black;
}

.editBtn{
    background-color: black;
    color: white;
    border: 1.5px dotted white;
    padding: 5px 10px;
    margin: 1px;
    cursor: pointer;
}

.deleteBtn{
    background-color: black;
    color: white;
    border: 1.5px dotted white;
    padding: 5px 10px;
    margin: 1px;
    cursor: pointer;
}

.editBtn:hover, .deleteBtn:hover {
    background-color: transparent;
}

.logoutBtn{
    border: 2px dotted black;
    padding: 10px 150px;
    font-size: x-large;
    background-color: gainsboro;
    margin-bottom: 25px;
    cursor: pointer;
}

.logoutBtn:hover {
    background-color: black;
    color: white;
    border: 2px dotted white;
    font-size: 1.7rem;
}


@media (max-width: 1024px) {

    h1{
        font-size: 3rem;
    }
    .input{
        border: 4px double black;
    }
    .registerBtn{
        padding: 10px 180px;
    }
    .loginBtn{
        padding: 10px 180px;
    }
    .googleButton{
        padding: 10px 105px;
    }
    .logoutBtn{
        padding: 10px 100px;
        font-size: large;
    }

}

@media (max-width: 600px) {
    
    h1{
        font-size: 2.5rem;
    }
    .registerBtn{
        padding: 10px 110px;
    }
    .loginBtn{
        padding: 10px 120px;
    }
    .googleButton{
        padding: 10px 66px;
        font-size: 1.2rem;
    }
    .logoutBtn{
        padding: 10px 100px;
        font-size: large;
    }

}
